
<head>
<title>Edit Shelter</title>

  <style>
    body{
      text-align: center;
    }

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }


    .button {background-color: royalblue;}
  </style>
</head>

<body>

  <head>
  <title>Edit Shelter</title>

    <style>
      body{
        text-align: center;
      }
      
      .update-shelter-button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .shelter-update {
        text-align: center;
        padding: 15px;
        display: block;
        color: white;
      }


      .button {background-color: royalblue;}
    </style>
  </head>

  <body>
    <%= form_tag("/shelters/#{@shelter.id}", method: "patch") do %>
      <div class="shelter-update">
        <%= label_tag("shelter[name]", "Shelter Name") %><br>
        <%= text_field_tag("shelter[name]", value="#{@shelter.name}") %>
      </div>

      <div class="shelter-update">
        <%= label_tag("shelter[address]", "Shelter Address") %><br>
        <%= text_field_tag("shelter[address]", value="#{@shelter.address}") %>
      </div>

      <div class="shelter-update">
        <%= label_tag("shelter[city]", "City") %><br>
        <%= text_field_tag("shelter[city]", value="#{@shelter.city}") %>
      </div>

      <div class="shelter-update">
        <%= label_tag("shelter[state]", "State") %><br>
        <%= text_field_tag("shelter[state]", value="#{@shelter.state}") %>
      </div>

      <div class="shelter-update">
        <%= label_tag("shelter[zip]", "Zip") %><br>
        <%= text_field_tag("shelter[zip]", value="#{@shelter.zip}") %>
      </div>

      <div class="update-shelter-button">
        <%= submit_tag("Update Shelter") %>
      </div>
    <% end %>
  </body>
</body>
