<head>
  <title>Create New Shelter</title>

  <style>

    body{
      text-align: center;
    }

    .shelter-button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .shelter-creation {
      text-align: center;
      padding: 15px;
      display: block;
      color: white;
    }
    </style>
</head>

<body>
    <%= form_tag("/shelters", method: "post") do %>
      <div class="shelter-creation">
        <%= label_tag("shelter[name]", "Shelter Name") %><br>
        <%= text_field_tag("shelter[name]") %>
      </div>

      <div class="shelter-creation">
        <%= label_tag("shelter[address]", "Shelter Address") %><br>
        <%= text_field_tag("shelter[address]") %>
      </div>

      <div class="shelter-creation">
        <%= label_tag("shelter[city]", "City") %><br>
        <%= text_field_tag("shelter[city]") %>
      </div>

      <div class="shelter-creation">
        <%= label_tag("shelter[state]", "State") %><br>
        <%= text_field_tag("shelter[state]") %>
      </div>

      <div class="shelter-creation">
        <%= label_tag("shelter[zip]", "Zip") %><br>
        <%= text_field_tag("shelter[zip]") %>
      </div>

      <div class="shelter-button">
        <%= submit_tag("Create Shelter") %>
      </div>
    <% end %>
</body>
