<%= stylesheet_link_tag  "application" %>
<head>
  <title>Pets</title>
<style>
  .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button {background-color: royalblue;}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
</style>
</head>

<body>
  <header>
    <h1>All Pets at <%= @shelter.name %></h1>  
  </header>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shelters">Shelters</a></li>
  </ul>
</nav>
  <aside>
    <button class="button"><a href="/shelters/<%= @shelter.id %>/pets/new">New Pet</a></button>
  </aside>
  <section>
    <% @pets.each do |pet| %>
        <h3>Pet Name: <%= pet.name%></h3>
        <h4>Age: <%= pet.age %></h4>
        <h4>Sex: <%= pet.sex %></h4>
        <h4>Current Shelter Name: <%= pet.shelter.name %></h4>
        <img src="<%= pet.image %>" alt="<%= pet.name%>_image">
      <%end%>
  </section>
</body>
