<%= stylesheet_link_tag  "application" %>
<head>
  <title><%= @shelter[:name]%></title>
  <style>
    .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button {background-color: royalblue;}
  </style>
</head>

<body>
  <header>
    <h1> <%=@shelter[:name]%> </h1>
  </header>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shelters">Shelters</a></li>
    <li><a href="/pets">Pets</a></li>
  </ul>
</nav>
<aside>
    <button class="button"><a href="/shelters/<%= @shelter[:id]%>/edit">Edit Shelter</a></button>
  </aside>
  <section>
    <h3>Address: <%=@shelter[:address]%></h3>
    <h3>City: <%=@shelter[:city]%></h3>
    <h3>State: <%=@shelter[:state]%></h3>
    <h3>Zipcode: <%=@shelter[:zip]%></h3>
  </section>
</body>