
<head>
  <title><%= @shelter[:name]%></title>
  <style>
  h2 {
    text-decoration: underline;
  }
  h5 {
    font-size: larger;
    text-decoration: underline;
  }
  </style>
</head>

<body>

<aside>
    <button class="button"><a href="/shelters/<%= @shelter[:id]%>/edit">Edit Shelter</a></button>
    <form action="/shelters/<%= @shelter[:id] %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input id="delete_button" class="button" type="submit" value="Delete Shelter"/>
    </form>
    <button class="button"><a href="/shelters/<%= @shelter[:id]%>/pets">View This Shelters Pets</a></button>
  </aside>
  <section>
  <h2><a href="<%= @shelter[:id]%>"> <%= @shelter.name %></a></h2>
    <h3>Address: <%=@shelter[:address]%></h3>
    <h3>City: <%=@shelter[:city]%></h3>
    <h3>State: <%=@shelter[:state]%></h3>
    <h3>Zipcode: <%=@shelter[:zip]%></h3>
  </section>
  <div>
    <h3>Number of Pets: <%= Pet.count_pets(@shelter.id) %></h3>
    <% if !(@shelter.reviews.empty?) %>
        <h3>Average Rating: <%= @shelter.average_review_rating %></h3>
        <h3>Number of Applications: <%= @shelter.count_applications %></h3>
    <% end %>
  </div>
  <div>
    <h4>Reviews</h4>
    <a id="add_review" href="/shelters/<%= @shelter.id %>/reviews/new">Add Review</a>
    <% @shelter.reviews.each do |review| %>
    <div class="div1">
    <a id="edit_review" href="/reviews/<%= review.id %>/edit">Edit Review</a>
    <form action="/reviews/<%= review.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input id="delete_button" class="button" type="submit" value="Delete Review"/>
    </form>
      <h5><%= review.title %></h5>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      <p><%= review.username %></p>
      <img src="<%= review.image %>" alt="<%= review.username%>'s image'">
    </div>
    <% end %>
  </div>
</body>
