
<head>
  <title>Pets</title>
<style>
 
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  display: block;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}


</style>
</head>

<body>
<div class="shelter_title_bar">
    <button class="button"><a href="/shelters/<%= @shelter.id %>/pets/new">New Pet</a></button>
    <h2>All Pets at the <a href="/shelters/<%= @shelter.id %>"><%= @shelter.name %></a></h2>
</div>
  <aside>
  </aside>
  <section>
    <% @pets.each do |pet| %>
    <div class="div1">
        <h3>Pet Name: <a href="/pets/<%= pet.id %>"><%= pet.name%></a></h3>
        <h4>Age: <%= pet.age %></h4>
        <h4>Sex: <%= pet.sex %></h4>
        <h4>Adoption Status: <%= pet.status %></h4>
        <img src="<%= pet.image %>" alt="<%= pet.name%>_image">
    <button class="button"><a href="/pets/<%= pet[:id]%>/edit">Edit Pet</a></button>
    <form action="/pets/<%= pet[:id] %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input id="delete_button" class="button" type="submit" value="Delete Pet"/>
    </form>
    </div>
      <%end%>
  </section>
</body>
