<head>
  <style>
    .review_form{
      padding: 15px;
      text-align: center;
      display: block;
      color: white;
    }
    .review_labels {
      font-weight: bold;
      padding: 15px;
    }
  </style>
</head>
<body>
  <h1>Edit Review</h1>
  <div class="review_form">
    <%= form_tag("/reviews/#{@review.id}", method: "patch") do %>
    <input type="hidden" name="review[shelter_id]" value='<%= @shelter.id %>'>
      <div class="review_labels">
        <%= label_tag("review[title]", "Title") %><br>
        <%= text_field_tag("review[title]", value="#{@review.title}")%>
      </div>

      <div class="ratings">
        <h4>Rating</h4>
        <%= radio_button_tag("review[rating]", 1) %>
        <%= label_tag("review[rating]", "1") %>

        <%= radio_button_tag("review[rating]", 2) %>
        <%= label_tag("review[rating]", "2") %>

        <%= radio_button_tag("review[rating]", 3) %>
        <%= label_tag("review[rating]", "3") %>

        <%= radio_button_tag("review[rating]", 4) %>
        <%= label_tag("review[rating]", "4") %>

        <%= radio_button_tag("review[rating]", 5) %>
        <%= label_tag("review[rating]", "5") %>
      </div>

      <div class="review_labels">
        <%= label_tag("review[content]", "Content") %><br>
        <%= text_area "review", "content", "cols" => 30, "rows" => 20%>
      </div>

      <div class="review_labels">
        <%= label_tag("review[username]", "Username") %>
        <%= text_field_tag("review[username]", value ="#{@review.username}") %>
      </div>

      <div class="review_labels">
        <%= label_tag("review[image]", "Image") %><br>
        <%= text_field_tag("review[image]", value ="#{@review.image}") %>
      </div>

      <div id="submit_button">
        <%= submit_tag("Update Review") %>
      </div>
    <% end %>
  </div>
</body>
