
<head>
<title>Edit Pet</title>

  <style>
    body{
      text-align: center;
    }

    .update-pet-button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .pet-update {
      text-align: center;
      padding: 15px;
      display: block;
      color: white;
    }

  </style>
</head>

<body>
  <%= form_tag("/pets/#{@pet.id}", method: "patch") do %>
    <div class="pet-update">
      <%= label_tag("pet[name]", "Pet Name") %><br>
      <%= text_field_tag("pet[name]", value="#{@pet.name}") %>
    </div>

    <div class="pet-update">
      <%= label_tag("pet[image]", "Pet Image") %><br>
      <%= text_field_tag("pet[image]", value="#{@pet.image}") %>
    </div>

    <div class="pet-update">
      <%= label_tag("pet[sex]", "Sex") %><br>
      <%= text_field_tag("pet[sex]", value="#{@pet.sex}") %>
    </div>

    <div class="pet-update">
      <%= label_tag("pet[age]", "Age") %><br>
      <%= text_field_tag("pet[age]", value="#{@pet.age}") %>
    </div>

    <div class="pet-update">
      <%= label_tag("pet[description]", "Description") %><br>
      <%= text_field_tag("pet[description]", value="#{@pet.description}") %>
    </div>

    <div class="update-pet-button">
      <%= submit_tag("Update Pet") %>
    </div>
  <% end %>
</body>
