
  
<%= stylesheet_link_tag  "application" %>
<head>
  <title>Pets</title>
<style>
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
</style>
</head>

<body>
  <Article>
    <h2>All Pets</h2>  
  </Article>
  
  <section>
    <% @pets.each do |pet| %>
        <h3>Pet Name: <a href="/pets/<%= pet.id %>"><%= pet.name%></a></h3>
        <h4>Age: <%= pet.age %></h4>
        <h4>Sex: <%= pet.sex %></h4>
        <h4>Current Shelter Name: <a href="/shelters/<%= pet.shelter_id %>"><%= pet.shelter.name %></a></h4>
        <img src="<%= pet.image %>" alt="<%= pet.name%>_image">
        <form action="/pets/<%= pet.id %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input id="delete_button" class="button" type="submit" value="Delete Pet"/>
        </form>
      <%end%>
  </section>
</body>
