

<body>
  <article>
    <h1> <%=@pet[:name]%> </h1>
  </article>

  <section>
  <div>
    <img src="<%= @pet.image %>" alt="<%= @pet.name%>_image">
  </div>
  <button class="button"><a href="/pets/<%= @pet[:id]%>/edit">Edit Pet</a></button>
    <form action="/pets/<%= @pet[:id] %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input id="delete_button" class="button" type="submit" value="Delete Pet"/>
    </form>
    <div class="pet_desc">
    <h3>Description: <%=@pet[:description]%></h3>
    <h3>Age: <%=@pet[:age]%></h3>
    <h3>Sex: <%=@pet[:sex]%></h3>
    <h3>Adoptable/Pending Status: <%=@pet[:status]%></h3>
    </div>
  </section>
</body>