<body>
<header>
  <h1 id="app-status" ><%= @application.status %></h1>
</header>
<div>

  <% @application.pets.each do |pet| %>
    <p><%= pet.name %>:
    <% if UserApplication.pet_application_approved?(pet) && @application.status != "Approved"%>
      approved for adoption
    <% else %>
      <%= "Approved" if UserApplication.find_pet_applications(@application.id, pet.id).status == ('Approve') %>
      <%= "Rejected" if UserApplication.find_pet_applications(@application.id, pet.id).status == ('Reject') %></p>
      <% if UserApplication.find_pet_applications(@application.id, pet.id).status != 'Approve' &&
          UserApplication.find_pet_applications(@application.id, pet.id).status != "Reject"%>
          <div id="approve-button-<%= pet.id %>">
            <%= form_tag("/admin/applications/#{@application.id}", method: 'patch') do %>
              <input type="hidden" name="status" value='Approve'>
              <input type="hidden" name="pet" value="<%= pet.id %>">
              <%= submit_tag("Approve") %>
            <% end %>
          </div>
          <div id="reject-button-<%= pet.id %>">
            <%= form_tag("/admin/applications/#{@application.id}", method: 'patch') do %>
              <input type="hidden" name="pet" value="<%= pet.id %>">
              <input type="hidden" name="status" value='Reject'>
              <%= submit_tag("Reject") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
</body>
