<body>
  <section>
  <h2><a href="<%= @user[:id]%>"> <%= @user.name %></a></h2>
    <h3>Address: <%=@user[:address]%></h3>
    <h3>City: <%=@user[:city]%></h3>
    <h3>State: <%=@user[:state]%></h3>
    <h3>Zipcode: <%=@user[:zip]%></h3>
  </section>
</body>