<style>
  .user_reviews {
    text-align: center;
    color: white;
    font-size: 25px;

  }

  .reviews {
    background: royalblue;
    border: 4px solid;
  }

</style>

<body>
  <section>
  <h2><a href="<%= @user[:id]%>"> <%= @user.name %></a></h2>
    <h3>Address: <%=@user[:address]%></h3>
    <h3>City: <%=@user[:city]%></h3>
    <h3>State: <%=@user[:state]%></h3>
    <h3>Zipcode: <%=@user[:zip]%></h3>
    <h3>Average Review of User: <%=@user.average_rating%>/5</h3>
  </section>

  <div class="user_reviews">
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
    <div class="reviews">
      <p>Title: <%= review.title%><br></p>
      <p>Rating: <%= review.rating%><br></p>
      <p>Content: <%= review.content%><br></p>
    </div>
    <% end %>
  </div>

  <footer id="highlighted-reviews">
    <h2>Highlighted Reviews</h2>
   <h3>Best Rating</h3>
    <% if !@user.reviews.empty? %>
      <%= @user.best_review.title %>
      <%= @user.best_review.rating %>
      <%= @user.best_review.content %>
      <h3>Worst Rating</h3>
      <%= @user.worst_review.title %>
      <%= @user.worst_review.rating %>
      <%= @user.worst_review.content %>
    <% end %>
  </footer>
</body>
