<body>
<%= @application.name %>
<%= @application.address %>
<%= @application.state %>
<%= @application.city %>
<%= @application.zip %>
<%= @application.description %>
<%= @application.status %>
<% @application.pets.each do |pet| %>
    <%= pet.name %>
<% end %>
</body>
